doctype html
html
  head
    title= title

    meta(content='utf-8', http-equiv='encoding')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')

    block head

  body
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-KRXQGQ', height='0', width='0', style='display: none; visibility:hidden;')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KRXQGQ');

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button',
                                         data-toggle='collapse',
                                         data-target='#navbarcollapse',
                                         aria-expanded='false',
                                         aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            span
              img(alt='AccessMap', src='/images/accessmap.png', height='100%')
              | Seattle
        #navbarcollapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
              span.sr-only (current)
            li
              a(href='mailto:info@accessmapseattle.com')
                i.fa.fa-envelope
            li
              a(href='http://twitter.com/AccessMapSea')
                i.fa.fa-twitter
            li: a(href='/map') The Map
            li: a(href='/#about') About
            li: a(href='/improve') Improve AccessMap

    .container-fluid.fill
      block content
      block footer
